In [1]:
import pandas as pd

In [2]:
training = pd.read_csv('twitter_training.csv')
test = pd.read_csv('twitter_validation.csv')

In [3]:
training

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [4]:
training.head(5)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
test

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom‚Äôs great auntie as ‚ÄòHayley can‚Äôt get out of bed‚Äô and told to his grandma, who now thinks I‚Äôm a lazy, terrible person ü§£"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
...,...,...,...,...
994,4891,GrandTheftAuto(GTA),Irrelevant,‚≠êÔ∏è Toronto is the arts and culture capital of ...
995,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996,2652,Borderlands,Positive,Today sucked so it‚Äôs time to drink wine n play...
997,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
998,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [6]:
test.columns = ['Header1','company','labels','text']
training.columns = ['Header1','company','labels','text']

In [7]:
print(training)
print("---------------------------------------------------------------------")
print(test)

       Header1      company    labels  \
0         2401  Borderlands  Positive
1         2401  Borderlands  Positive
2         2401  Borderlands  Positive
3         2401  Borderlands  Positive
4         2401  Borderlands  Positive
...        ...          ...       ...
74676     9200       Nvidia  Positive
74677     9200       Nvidia  Positive
74678     9200       Nvidia  Positive
74679     9200       Nvidia  Positive
74680     9200       Nvidia  Positive

                                                    text
0      I am coming to the borders and I will kill you...
1      im getting on borderlands and i will kill you ...
2      im coming on borderlands and i will murder you...
3      im getting on borderlands 2 and i will murder ...
4      im getting into borderlands and i can murder y...
...                                                  ...
74676  Just realized that the Windows partition of my...
74677  Just realized that my Mac window partition is ...
74678  Just realized the windows partition of my Mac ...
74679  Just realized between the windows partition of...
74680  Just like the windows partition of my Mac is l...

[74681 rows x 4 columns]
---------------------------------------------------------------------
     Header1              company      labels  \
0        352               Amazon     Neutral
1       8312            Microsoft    Negative
2       4371                CS-GO    Negative
3       4433               Google     Neutral
4       6273                 FIFA    Negative
..       ...                  ...         ...
994     4891  GrandTheftAuto(GTA)  Irrelevant
995     4359                CS-GO  Irrelevant
996     2652          Borderlands    Positive
997     8069            Microsoft    Positive
998     6960      johnson&johnson     Neutral

                                                  text
0    BBC News - Amazon boss Jeff Bezos rejects clai...
1    @Microsoft Why do I pay for WORD when it funct...
2    CSGO matchmaking is so full of closet hacking,...
3    Now the President is slapping Americans in the...
4    Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
..                                                 ...
994  ‚≠êÔ∏è Toronto is the arts and culture capital of ...
995  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996  Today sucked so it‚Äôs time to drink wine n play...
997  Bought a fraction of Microsoft today. Small wins.
998  Johnson & Johnson to stop selling talc baby po...

[999 rows x 4 columns]

In [8]:
training.drop(columns=["Header1","company"],inplace=True)
test.drop(columns=["Header1","company"],inplace=True)

In [9]:
training.head(5)

     labels                                               text
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...

In [10]:
test.head()

     labels                                               text
0   Neutral  BBC News - Amazon boss Jeff Bezos rejects clai...
1  Negative  @Microsoft Why do I pay for WORD when it funct...
2  Negative  CSGO matchmaking is so full of closet hacking,...
3   Neutral  Now the President is slapping Americans in the...
4  Negative  Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...

In [11]:
#Adding the two dataframes in one 
sentiment = pd.concat([training,test],ignore_index=True)

In [12]:
sentiment

           labels                                               text
0        Positive  I am coming to the borders and I will kill you...
1        Positive  im getting on borderlands and i will kill you ...
2        Positive  im coming on borderlands and i will murder you...
3        Positive  im getting on borderlands 2 and i will murder ...
4        Positive  im getting into borderlands and i can murder y...
...           ...                                                ...
75675  Irrelevant  ‚≠êÔ∏è Toronto is the arts and culture capital of ...
75676  Irrelevant  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
75677    Positive  Today sucked so it‚Äôs time to drink wine n play...
75678    Positive  Bought a fraction of Microsoft today. Small wins.
75679     Neutral  Johnson & Johnson to stop selling talc baby po...

[75680 rows x 2 columns]

In [13]:
sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75680 entries, 0 to 75679
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   labels  75680 non-null  object
 1   text    74994 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [14]:
sentiment.isnull().sum()

labels      0
text      686
dtype: int64

In [15]:
sentiment.dropna(inplace=True)

In [16]:
sentiment.duplicated().sum()

4743

In [17]:
sentiment.drop_duplicates(inplace=True)

In [18]:
#import libraries
import re # for regular expressions
import nltk # natural lanaguage toolkit
from nltk.tokenize import word_tokenize # split sentence into tokens
from nltk.corpus import stopwords # for words like 'the, is' remove these words
from nltk.stem import WordNetLemmatizer # convert each word to its root word
import numpy as np

In [19]:
# Downloading data to the default directory
nltk.download('wordnet') #Downloads the WordNet lexical database to the specified directory. WordNet is used for lemmatization and understanding word meanings.
nltk.download('omw-1.4') # Downloads the Open Multilingual Wordnet (OMW) package, which supports multilingual capabilities for WordNet.

# Print the default NLTK data directory
print(nltk.data.path)

['C:\\Users\\priya/nltk_data', 'C:\\Users\\priya\\anaconda3\\nltk_data', 'C:\\Users\\priya\\anaconda3\\share\\nltk_data', 'C:\\Users\\priya\\anaconda3\\lib\\nltk_data', 'C:\\Users\\priya\\AppData\\Roaming\\nltk_data', 'C:\\nltk_data', 'D:\\nltk_data', 'E:\\nltk_data']

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\priya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\priya\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [20]:
def process_text(text):
    text = re.sub(r'\s+', ' ', text, flags=re.I) # Remove extra white space from text

    text = re.sub(r'\W', ' ', str(text)) # Remove all the special characters from text

    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text) # Remove all single characters from text

    text = re.sub(r'[^a-zA-Z\s]', '', text) # Remove any character that isn't alphabetical

    text = text.lower()

    words = word_tokenize(text)

    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]

    stop_words = set(stopwords.words("english"))
    Words = [word for word in words if word not in stop_words]
    Words = [word for word in Words if len(word) > 3]

    indices = np.unique(Words, return_index=True)[1]
    cleaned_text = np.array(Words)[np.sort(indices)].tolist()

    return cleaned_text

In [21]:
x=sentiment.drop('labels',axis=1)
y=sentiment.labels

In [22]:
texts=list(x['text'])

In [23]:
cleaned_text = [process_text(text) for text in texts]

In [24]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\priya\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\priya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
print(cleaned_text[:10])

[['coming', 'border', 'kill'], ['getting', 'borderland', 'kill'], ['coming', 'borderland', 'murder'], ['getting', 'borderland', 'murder'], ['getting', 'borderland', 'murder'], ['spent', 'hour', 'making', 'something', 'know', 'huge', 'borderland', 'maya', 'favorite', 'character', 'decided', 'make', 'wallpaper', 'original', 'image', 'versus', 'creation', 'made', 'enjoy', 'twitter', 'mlsiwfjg'], ['spent', 'couple', 'hour', 'something', 'know', 'huge', 'borderland', 'maya', 'favorite', 'character', 'decided', 'make', 'wallpaper', 'original', 'picture', 'compared', 'creation', 'made', 'twitter', 'mlsiwfjg'], ['spent', 'hour', 'something', 'know', 'huge', 'borderland', 'maya', 'favorite', 'character'], ['spent', 'hour', 'making', 'something', 'know', 'huge', 'rhandlerr', 'maya', 'favorite', 'character', 'decided', 'make', 'wallpaper', 'original', 'image', 'versus', 'creation', 'made', 'enjoy', 'twitter', 'mlsiwfjg'], ['spent', 'hour', 'making', 'something', 'know', 'huge', 'rhandlerr', 'maya', 'favorite', 'character', 'decided', 'make', 'wallpaper', 'original', 'image', 'versus', 'creation', 'made', 'enjoy', 'twitter', 'mlsiwfjg']]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cleaned_text, y, test_size=0.2, random_state=42)

In [28]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

max_vocab = 20000
tokenizer = Tokenizer(num_words=max_vocab)
tokenizer.fit_on_texts(X_train)
word_idx = tokenizer.word_index  # Corrected syntax for accessing word index
v = len(word_idx)
print("the size of vocab =", v)  # Corrected spacing
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

#Importing Necessary Modules: The Tokenizer for converting texts to sequences and pad_sequences for padding sequences.
#Initializing the Tokenizer: Sets up the tokenizer with a maximum vocabulary size of 20,000.
#Fitting the Tokenizer on Training Data: Builds the word index based on the training data's vocabulary.
#Retrieving and Printing Vocabulary Size: Accesses the word index and prints the size of the vocabulary.
#Converting Texts to Sequences: Transforms the training and test texts into sequences of integers based on the word index.

WARNING:tensorflow:From C:\Users\priya\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

the size of vocab = 24048

In [29]:
maxlen = 100
X_train = pad_sequences(X_train,maxlen=maxlen)
X_test = pad_sequences(X_test,maxlen=maxlen)

In [30]:
y.value_counts()

labels
Negative      21329
Positive      19270
Neutral       17281
Irrelevant    12371
Name: count, dtype: int64

In [31]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense,Input,GlobalMaxPooling1D,Dropout,Bidirectional
from tensorflow.keras.models import Model
from keras import optimizers
import numpy as np
D=100
inputt=Input(shape=(maxlen,))

WARNING:tensorflow:From C:\Users\priya\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [32]:
from tensorflow.keras.optimizers import Adam
learning_rate = 0.0001  # Set your desired learning rate here
x=Embedding(v+1,D)(inputt)
x = Dropout(0.5)(x)
x = Bidirectional(LSTM(150))(x)
x = Dense(32, activation='relu')(x)
x = Dense(4, activation='softmax')(x)

model = Model(inputt, x)

# Define optimizer with specified learning rate
optimizer = Adam(learning_rate=learning_rate)

model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

In [33]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

C:\Users\priya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\priya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\priya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\priya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [34]:
import tensorflow as tf

y_train_one_hot = tf.keras.utils.to_categorical(y_train_encoded)
y_test_one_hot = tf.keras.utils.to_categorical(y_test_encoded)
history = model.fit(X_train, y_train_one_hot, epochs=20, validation_data=(X_test, y_test_one_hot))

Epoch 1/20
WARNING:tensorflow:From C:\Users\priya\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\priya\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

1757/1757 [==============================] - 292s 163ms/step - loss: 1.2759 - accuracy: 0.4099 - val_loss: 1.1515 - val_accuracy: 0.4889
Epoch 2/20
1757/1757 [==============================] - 298s 170ms/step - loss: 1.0531 - accuracy: 0.5586 - val_loss: 0.9368 - val_accuracy: 0.6212
Epoch 3/20
1757/1757 [==============================] - 283s 161ms/step - loss: 0.8309 - accuracy: 0.6734 - val_loss: 0.7817 - val_accuracy: 0.6905
Epoch 4/20
1757/1757 [==============================] - 285s 162ms/step - loss: 0.6722 - accuracy: 0.7437 - val_loss: 0.6546 - val_accuracy: 0.7610
Epoch 5/20
1757/1757 [==============================] - 314s 179ms/step - loss: 0.5631 - accuracy: 0.7898 - val_loss: 0.5730 - val_accuracy: 0.7901
Epoch 6/20
1757/1757 [==============================] - 286s 163ms/step - loss: 0.4841 - accuracy: 0.8209 - val_loss: 0.5341 - val_accuracy: 0.8031
Epoch 7/20
1757/1757 [==============================] - 286s 163ms/step - loss: 0.4319 - accuracy: 0.8390 - val_loss: 0.4832 - val_accuracy: 0.8208
Epoch 8/20
1757/1757 [==============================] - 313s 178ms/step - loss: 0.3859 - accuracy: 0.8557 - val_loss: 0.4501 - val_accuracy: 0.8339
Epoch 9/20
1757/1757 [==============================] - 350s 199ms/step - loss: 0.3556 - accuracy: 0.8663 - val_loss: 0.4352 - val_accuracy: 0.8399
Epoch 10/20
1757/1757 [==============================] - 310s 176ms/step - loss: 0.3330 - accuracy: 0.8754 - val_loss: 0.4168 - val_accuracy: 0.8468
Epoch 11/20
1757/1757 [==============================] - 326s 185ms/step - loss: 0.3114 - accuracy: 0.8823 - val_loss: 0.4074 - val_accuracy: 0.8519
Epoch 12/20
1757/1757 [==============================] - 324s 185ms/step - loss: 0.2964 - accuracy: 0.8875 - val_loss: 0.4063 - val_accuracy: 0.8523
Epoch 13/20
1757/1757 [==============================] - 326s 186ms/step - loss: 0.2821 - accuracy: 0.8922 - val_loss: 0.3896 - val_accuracy: 0.8604
Epoch 14/20
1757/1757 [==============================] - 321s 183ms/step - loss: 0.2683 - accuracy: 0.8986 - val_loss: 0.3969 - val_accuracy: 0.8584
Epoch 15/20
1757/1757 [==============================] - 303s 172ms/step - loss: 0.2565 - accuracy: 0.9025 - val_loss: 0.3851 - val_accuracy: 0.8639
Epoch 16/20
1757/1757 [==============================] - 325s 185ms/step - loss: 0.2447 - accuracy: 0.9065 - val_loss: 0.3761 - val_accuracy: 0.8664
Epoch 17/20
1757/1757 [==============================] - 334s 190ms/step - loss: 0.2353 - accuracy: 0.9098 - val_loss: 0.3773 - val_accuracy: 0.8669
Epoch 18/20
1757/1757 [==============================] - 312s 178ms/step - loss: 0.2260 - accuracy: 0.9133 - val_loss: 0.3851 - val_accuracy: 0.8683
Epoch 19/20
1757/1757 [==============================] - 331s 189ms/step - loss: 0.2185 - accuracy: 0.9169 - val_loss: 0.3755 - val_accuracy: 0.8701
Epoch 20/20
1757/1757 [==============================] - 332s 189ms/step - loss: 0.2125 - accuracy: 0.9178 - val_loss: 0.3818 - val_accuracy: 0.8711